.angular-fundamentals {
  background: #202124;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.angular-fundamentals__heading{
  color: #f3f3f3;
  font: normal normal bold 30px/15px Lato;
}


